@import'../../utils/typographies';

header {
    display: flex;
    width: 90%;
    height: auto;
    

    .assetLogo {
        padding: 20px;
        width: 140px;
        height: auto;
    }

    .titre {
        display: flex;
        width: 85%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: black;

        font: {
            size:35px;
            family: $police-paragraphe;
            weight: 500;
        };
        text-shadow: 1px 3px 0 #969696,
        1px 13px 5px #aba8a8;
    }
    .buttonCss {
        width: 120px;
        height: 20px;
        

        font-size: 16px;
        font-family: $police-input;
        font-weight: 600;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5,
            -6px -6px 12px #ffffff;
    }

    .buttonCss:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5,
            inset -4px -4px 12px #ffffff;
    }
};

@media screen and ( max-width:1024px ){
    header{
        width: 74%;
        .assetLogo{
          margin-left: 176px;
        }
    }
}
@media screen and ( max-width:768px ){
    header{
        justify-content: center;
        width: 100%;
        padding: 10px;
        .assetLogo{
            display: none;
        }
    }
}

